@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  min-height: 100vh;
  background-color: theme("colors.surface.50");
}

main {
  min-height: 100vh;
}
